listen: 127.0.0.1:8002
tracks_path: /srv/parcel-tracker/tracks_path
telegram:
    token: get your token from https://t.me/BotFather
    webhook: https://example.com/parcel-tracker/
start_response: "Бот для отслеживания посылок направляющихся в Беларусь.\n\nОн сканирует ваш список треков раз в час обращаясь к API БелПочта, и нотифицирует, если есть новые события по ним.\n\nВнимание! Бот был разработан для собственного пользования!\nВ связи с ограничением API почтовых сервисов, он имеет ограничение для сторонних пользователей.\nНа текущий момент лимит в 3 трека. Если вам необходимо сверх данного лимита, то вы можете развернуть данного бота для себя самостоятельно. \U0001F609\nИсходный код расположен тут: https://github.com/vvampirius/parcel-tracker\nЗвездочки к репозиторию и донаты приветствуются. \U0001F64F\n\nЧто бы добавить новый трек - просто пришлите его в формате:\n<трек-номер> [<описание> [<URL>]]\n"
